@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-VariableFont_wght.ttf') format('truetype supports variations'),
        url('fonts/Lora-VariableFont_wght.ttf') format('truetype-variations');         
    font-weight: 300 900;
    font-stretch: 75% 200%;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype supports variations'),
        url('fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');         
    font-weight: 300 900;
    font-stretch: 75% 200%;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype supports variations'),
        url('fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');         
    font-weight: 300 900;
    font-stretch: 75% 200%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
  margin: 0;

  font-family: 'Lora', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#181818; 
  background-color: #fbf9f8; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;

  object-fit: cover;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}


.title-h1-home {
    margin: 0;
    margin-bottom: 64px;

    font-family: 'Lora';
    font-size: 64px;
    line-height: 100%;
    font-weight: 400;
}

.title-h1 {
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Lora';
    font-size: 40px;
    line-height: 100%;
    font-weight: 400;
}

.title-h2 {
    margin: 0;
    margin-bottom: 40px;

    font-family: 'Lora';
    font-size: 22px;
    line-height: 120%;
    font-weight: 500;
}

.title-h3 {
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Lora';
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
}


.btn-color-primary {
    background-color: #80B09C;    
}

.btn-color-primary:hover {
    background-color: #657d67;
}

.text-color-primary {
    color: #80B09C;
}

.btn {    
  display: inline-block;  

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;  
  text-decoration: none;
  text-align: left;  

  border-radius: 2px;

  cursor: pointer;
}

.btn-indicator {
    width: 190px;
    padding: 10px;

    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-category {
    position: absolute;
    left: 24px;
    bottom: 24px;

    width: 243px;
    padding: 14px 14px 14px 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.btn-menu-open {    
    padding: 24px 8px;
    border: none;

    background-color: transparent;
    text-align: center;   
    cursor: pointer; 
}

.btn-menu-close {
    display: none;    
    cursor: pointer;
}

.btn-menu-open img {
    vertical-align: bottom;
}

.btn-filter {
    position: relative;
    grid-column: 1/2;

    width: 165px;
    padding: 10px 24px 10px 50px;
    border: none;

    font-size: 14px;        
}

.btn-show-more {
    width: 184px;    
    padding: 18px;
    border: none;

    text-align: center;
}

.number-selected-filters {
    position: absolute;
    top: -12px;
    right: -12px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    font-family: 'Inter';
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;

    text-align: center;
    color:#ffffff;
    background-color: #E33B32;
}

.btn-filter::before {
    content: '';
    width: 18px;
    height: 18px;    

    position: absolute;
    left: 24px;
    top: 11px;  

    background-image: url('assets/img/ico/filter-ico.svg');    
}

.btn-product {
    max-width: 334px;
    padding: 14px;       
    border-radius: 1px;

    font-family: 'Inter';
    text-align: center;
}

.main {    
    width: 100%;
}

.top-text {
    font-family: 'Inter';
    text-transform: uppercase;
    line-height: 150%;
}

.sidebar {
    position: fixed;
    width: 288px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #181818;
}

.sidebar-mobile {
    display: none;
}

.navigation {
    /* min-height: 484px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navigation-logo {
    display: block;
    padding: 24px;    
}

.navigation-list {    
    margin: 0;    
    padding: 0;

    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 14px;

    font-size: 16px;
    line-height: 120%;
    
    color: #DDC4A4;    
    text-decoration: none;    
}

.navigation-link:hover {
    background-color: #252525;
}

.footer {
    padding: 24px 24px 0;    
}

.contact-label {
    margin: 0;
    margin-left: 38px;

    font-family: 'Inter';
    font-style: normal;
    color: #f9f9f9;
    font-size: 13px;    
}



.footer-contact {
    display: flex;
    align-items: flex-end;
    gap: 14px;
    margin-top: 0;
    margin-bottom: 24px;

    line-height: 120%;
    text-decoration: none;
    font-style: normal;
    color: #80B09C;
}

.footer-contact::before {
    content: '';
    width: 24px;
    height: 24px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    flex-shrink: 0;
}

.footer-phone::before {
    background-image: url('assets/img/ico/phone-ico.svg');
}


.footer-address::before {    
    background-image: url('assets/img/ico/location-ico.svg');
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 240px;
  margin: 0;  
  padding: 0 0 20px 38px;  

  list-style-type: none;
  border-bottom: 1px solid #323539;
}

.social-link {
  position: relative;

  display: block;
  width: 40px;
  min-height: 40px;  
}

.social-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto; 
  background-size: 40px; 
  background-repeat: no-repeat;
}

.social-icon-telegramm {  
  background-image: url('assets/img/ico/telegram-ico.svg'); 
}

.social-icon-max {  
  background-image: url('assets/img/ico/max-ico.svg'); 
}

.social-icon-vk {  
  background-image: url('assets/img/ico/vk-ico.svg'); 
}

p:has(.developer) {
    margin-top: 10px;
    margin-bottom: 12px;
}

.developer {
    font-family: 'Open sans';
    color: #f9f9f9;
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
}

.content {
    padding: 24px;       
    margin-left: 288px;
}

.interior {
    margin-bottom: 48px;   
    
    position: relative;
}

.indicator {
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;    

    position: absolute;
    
    color: #FFFFFF;
    background-color: #80B09C;
    border-radius: 50%;    
    text-align: center;
    font-size: 19px;
    line-height: 1;

    transition: transform 0.2s ease;
    cursor: pointer;    
}

.indicator.active {
    background-color: #EEA23E;
}

.indicator::before,
.indicator::after {
    content: '';
    position: absolute;    
    left: -14px;    
    right: -14px;
    top: -14px;
    bottom: -14px;

    border-radius: 50%;
    opacity: 0;
    border: 2px solid #80B09C;

    animation: pulser 2.5s linear infinite;    
}

.indicator.active::before,
.indicator.active::after {
    border-color: transparent;
}

.indicator::after {
    animation-delay: 1.25s;
}


@keyframes pulser {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.indicator-popup {    
    width: 290px;
    min-width: 290px;
    padding: 20px 18px;

    position: absolute;
    z-index: 1;
    opacity: 0;

    color: #000;
    background: #fff;
    border-radius: 10px;
    
    text-align: left;
    line-height: 1;
    
    transform: scale(0.95) translateY(10px);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.indicator-popup .title {
    margin: 0;
    margin-bottom: 10px;
}

.indicator.active .indicator-popup {
    display: block;
    visibility: visible;

    opacity: 1;
    transform: scale(1) translateY(0);    
}

.category-list {    
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(6, minmax(75px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, auto));

    list-style-type: none;    
}

.category-list.catalog-page {
   grid-template-rows: repeat(5, minmax(100px, auto)); 
}

.category-list.mebel-page {
   grid-template-rows: repeat(1, minmax(100px, auto)); 
}

.product-list,
.article-list {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 24px;
}

.product-item {    
    position: relative;

    max-width: 366px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: 4px;
}

.product-item:hover {
    outline: 1px solid #657D67;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 8px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 8px;

    line-height: 120%;
}

.product-article-number {
    margin-top: 0;
    margin-bottom: 8px;

    font-family: 'Inter';
    font-size: 12px;
}

.product-price {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 22px;
    line-height: 120%;

    color: #80B09C;
}

.product-price span {
    font-size: 18px;
}

.category-item {
    position: relative;

    grid-column: span 2;

    line-height: 0;
    background-color: #f5f5f5;    
}

.category-item .title {
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 10;

    margin: 0;
    padding: 0;

    font-family: 'Lora';
    font-size: 28px;
    font-weight: 500;
    line-height: 120%; 
    color: #ffffff;
    
    transition: transform 0.5s linear;
}

.category-item:hover .title {
    transform: translateY(-72px);   
}

.category-item:hover .btn {
    opacity: 1;
}

.category-item-big {   
    grid-column: span 3;
}

.btn-arrow-right .text {
    display: flex;
    gap: 8px;    
}

.btn-arrow-right .text::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('assets/img/ico/arrow-right.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 8px;
    list-style-type: none;
}

.breadcrumbs-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: 10px;
}

.breadcrumbs-item:first-child {
    margin-left: 0;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    background-image: url('assets/img/ico/separator.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.breadcrumbs-link {
    font-family: 'Inter';
    font-weight: 500;    
    font-size: 14px;    
    color: inherit;

    text-decoration: none;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    color: #657D67;
}

.list-management-wrapp {
    display: grid;
    grid-template-columns: 165px auto 1fr;
    align-items: center;

    margin-bottom: 24px;
}

.control-select {
  grid-column: 3/4;

  width: 324px;
  height: 52px;
  margin-left: auto;  
  padding: 16px;
  padding-right: 32px;

  font-family: 'OpenSans';
  font-size: 13px;
  line-height: 150%;
  color: #181818;
  background-color: inherit;
  background-image: url('assets/img/ico/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.control-select:hover {
  border-color: #657d67;
}

.list-management-wrapp .number-products-found {
    grid-column: 2/3;

    font-family: 'Lora';
    margin-left: 18px;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0;
}

.badge {
    position: absolute;
    top: 8px;
    left: 8px;

    max-width: 110px;
    min-height: 28px;
    padding: 4px 12px;
    border-radius: 1px;

    font-family: 'Inter';
    font-size: 13px;
    font-weight: 500;    
    color: #ffffff;
}

.badge-hit {
    background-color: #E33B32;
}

.badge-sale {
    background-color: #DDC4A4;
}

.badge-new {
   background-color: #657D67; 
}

.pagination-wrap {
    margin-bottom: 24px;
    text-align: center;
}

.pagination-list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  

  list-style-type: none;  
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;  
  height: 40px;
  padding: 10px 9px;
  border: 1px solid #E5E5E7;

  color: #2B2D2F;
  font-family: 'Inter';
  font-size: 14px;  
  text-decoration: none;
  background-color: #ffffff;  
}


.pagination-link-current {
    color: #657D67;
}

.pagination-link-prev,
.pagination-link-next {
    min-width: 92px;
}

.pagination-link-prev .control,
.pagination-link-next .control {
    display: flex;  
    align-items: center;
    gap: 6px;
}

.pagination-link-prev .control::before {
    content: '';    

    width: 16px;
    height: 16px;
    background-image: url('assets/img/ico/arrow_left.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.pagination-link-next .control::after {
    content: '';    

    width: 16px;
    height: 16px;
    background-image: url('assets/img/ico/arrow_right.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.category-description {  
    max-width: 1052px;  
    padding: 64px 24px;
}

.category-description-title {
    margin: 0;
    margin-bottom: 16px;

    font-size: 36px;
    line-height: 100%;
    font-weight: 400;
}

.category-description p {
    font-family: 'Inter';
    
}

.modal-filter {
    position: fixed;
    top: 0;
    left: 288px;
    
    width: 462px;
    height: 100%;
    padding: 0;
    
    background-color: #ffffff;
    opacity: 0;
    z-index: -1;

    overflow-y: auto;
}

.filter-wrap {
    position: relative;
    min-height: 100vh;

    padding-bottom: 105px;
}

.btn-filter-close {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: auto;

    background-color: transparent;
    cursor: pointer;
}

.title-h4 {
    margin: 0 0 32px 16px;
    
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
}

.catalog-filter-group {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    border: 0;
}

.catalog-filter-group:first-child {
    margin-bottom: 68px;
}

.catalog-filter-group-name {
    margin: 0;
        
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color:#181818;
}

.catalog-filter-group:first-child .catalog-filter-group-name {
    margin-bottom: 80px;
}





.thumbs {
    display: grid;
    /* margin-left: -20px; */
    
}

.range {
    --range-track-top: 14px;

    --tickmarks-w: calc(100% - 18px);
    --option-after-h: 30px;
    --option-after-top: -30px;
    --track-width: 382px;

    --range-progress-left: min(
        calc(var(--value-1) / 100000 * var(--track-width)),
        calc(var(--value-2) / 100000 * var(--track-width))
    );

    --range-progress-w: calc((var(--value-2) - var(--value-1)) / 100000 * var(--track-width));
    
    position: relative;
    display: grid;
    width: var(--track-width);
}

.range-output {
    /* --range-output-left: calc(var(--value)/1000 * 1%);
    --range-output-offset-xy: calc(var(--value)/1000 * -0.95%), 0;
    --range-output-margin: calc(6 / (var(--value)/1000 + 1) * 1px); */

    --range-output-left: calc(var(--track-width) / (100000 / var(--value)));   
   
     
}

/* .range-label {
    margin-block-end: 50px;
    font-size: 24px;
    font-weight: 500;
} */

.range-input {
    position: relative;

    width: 100%;
    height: 30px;
    grid-area: 1 / 1;
    border-radius: 10px;
    appearance: none;
    background: none;
    pointer-events: none;

    margin-left: 0;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #657D67;
    box-shadow: 0px 0px 20px 0px rgba(19, 56, 77, 0.2), 0 0 0 5px inset #ffffff;

    transition: 300ms;
    pointer-events: auto;
}

.range-input::-moz-range-thumb {    
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #657D67;
    box-shadow: 0px 0px 20px 0px rgba(19, 56, 77, 0.2), 0 0 0 5px inset #ffffff;

    transition: 300ms;
    pointer-events: auto;    
}    

.range-input:hover::-webkit-slider-thumb,
.range-input:focus-visible::-webkit-slider-thumb {
    cursor: grab;
}

.range-input:hover::-moz-range-thumb,
.range-input:focus-visible::-moz-range-thumb {
    cursor: grab;
}

.range-input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset #657D67;
}

.range-input:active::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset #657D67;
}

.range-input:disabled::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset gray;
}
.range-input:disabled::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset gray;
}

.range-input:focus-visible {
    outline-offset: 7px;
    outline: 1px solid #657D67;
}

.range-input:focus-visible::-webkit-slider-thumb {
    outline: 3px solid #657D67;
}

.range-input:focus-visible::-moz-range-thumb {
    outline: 3px solid #657D67;
}

.track {
    position: absolute;
    top: var(--range-track-top);
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: #ECF4FC;
    z-index: -1;
}

.progress {
    position: absolute;
    top: var(--range-track-top);
    left: var(--range-progress-left);
    width: var(--range-progress-w);
    height: 8px;
    border-radius: 1000px;
    background-color: #657D67;
    z-index: -1;
}

.range-output {
    position: absolute;
    top: -50px;
    left: var(--range-output-left);

    /* margin-left: var(--range-output-margin); */
    
    display: grid;
    width: 90px;    
    height: 38px; 
    padding: 8px 16px;
    border-radius: 2px;
    place-items: center;
    background: transparent;
    
    
    /* transform: translate(var(--range-output-offset-xy));     */
    transform: translateX(-45px);
    /* transition: 300ms;      */

    font-family: 'Inter';
    font-size: 14px; 

    box-shadow: 0px 0px 5px 0px rgba(19, 56, 77, 0.2);
    user-select: none;
}

/* .range-output-min {
    margin-left: 6px;
}

.range-output-max {
    margin-left: -9px;
} */

.range-output::before {
    content: '';

    position: absolute;
    bottom: -11px;
    left: 50%;
    
    display: block;
    width: 14px;
    height: 11px;
    
    background-image: url('assets/img/ico/strelka.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
   
    transform: translateX(-50%);
    
}

.range-input:hover + .range-output,
.range-input:focus-visible + .range-output {
    background-color: #ECF4FC;
    transition: 0ms;
}

.tickmarks {

    height: 30px;
    display: flex;
    justify-content: space-between;

    color: #181818;
}       

.legend-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 334px;
    margin-bottom: 16px;
}

.toggle-button {
    position: relative;

    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    
    background-color: transparent;
    cursor: pointer;
}

.toggle-button span {
    display: block;
    width: 14px;
    height: 2px;
    margin: 0 auto;
    background-color: #181818;    
}

.toggle-button span::before {
    content: '';

    display: block;
    width: 14px;
    height: 2px;
    
    background-color: #181818;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}

.toggle-button[aria-expanded="true"] span::before {
    transform: rotate(0deg);
}



.catalog-filter {
    margin-bottom: 50px;
}


.catalog-filter-list[hidden] {
    
    max-height: 0;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    list-style-type: none;    
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.catalog-filter-list:not([hidden]) {    
    max-height: 1000px;
    padding-left: 0;

    overflow: hidden;
    list-style-type: none; 
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);   
}

.catalog-filter-list.facade-list:not([hidden]) {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.catalog-filter-group-name:has(+ .toggle-button[aria-expanded="true"]) {
    color:#657D67;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 8px;
}

.catalog-filter-item.facade-item {
    margin-bottom: 0;
}

.catalog-filter-item .control {
  position: relative;
  display: block;
  padding-left: 24px; 

  font-family: 'Inter';  
}

.catalog-filter-item .control-facade {
    display: block;
    padding: 6px 12px;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;    
    background-color: #F8F9FB;
}

.control-mark {

  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  
  background-color: #F8F9FB;
  border-radius: 6px;
  border: 2px solid #E5E5E7;
}

.control-input:disabled + .control-mark {
    background-color: #E5E5E7;
}

.control:has(> .control-input:disabled) {
  color: #E5E5E7;
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-color: #657D67;
    border-color: transparent;
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 8px;
  background-image: url("assets/img/ico/checked.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control-facade:has(> .control-input[type="checkbox"]:checked) {
    color: #ffffff;
    background-color: #657D67;
}



.filter-group-wrap {
    padding: 16px;   
}

.filter-footer {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 16px;
    
    background-color: #F8F9FB;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
}

.filter-footer > .number-products-found {
    margin: 0;
    margin-bottom: 16px;

    font-family: 'Inter';
    font-size: 13px;
    line-height: 120%;
}

.filter-button-wrap {
    display: flex;
    justify-content: space-around;    
    gap: 16px;
}

.btn-reset {
    position: relative;

    width: 180px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    flex-grow: 1;

    font-size: 13px;
    background-color: #FFFFFF;
    color: #596574;
}

.btn-reset::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 24px;
    top: 11px;
    background-image: url('assets/img/ico/reset.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-filter-apply {
    width: 180px;
    flex-grow: 1;
}

.category-text-max-width {
    max-width: 1060px;
    margin-bottom: 24px;
}

/* ************ Контакты Старт **************  */

.map {
    margin-bottom: 24px;
}

.contacts-footer {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 64px;
}

.feedback-block {
    width: 664px;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.feedback-single-text {
    margin: 0;
    margin-bottom: 64px;

    font-family: 'Inter';
    font-size: 18px;
}


.agree-wrap {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-bottom: 24px;
}

.agree-input {
    margin: 0;
}

.agree-text {
    margin: 0;

    font-family: 'OpenSans';
    font-size: 12px;    
}

.feedback .control {
    margin-bottom: 8px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;

    background-color: #F8F9FB;
}

.feedback .field-email,
.feedback .field-message {
    width: 100%;
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #E5E5E7;

    background-color: #F8F9FB;
    color: #2B2D2F;
    font-size: 14px;
}


.feedback .field-email {
    height: 56px;    
}

.feedback .field-message {
  resize: none;
  height: 127px;
}


.feedback .field-message::placeholder {
  color: rgb(165, 165, 165);
  text-transform: capitalize;
}

.feedback .field-email:focus-visible,
.feedback .field-message:focus-visible {
  outline: rgb(165, 165, 165) solid 1px;
}

.btn-submit {
  max-width: 300px;
  padding: 14px;
  border-radius: 1px;
  border: none;

  font-family: 'Inter';
  text-align: center;
}

.phone-block .title-h3 {
    margin-bottom: 64px;
}

.phone-block .data  {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    margin-bottom: 64px;
}

.phone {
    width: 320px;
}

.phone-number {
    font-size: 20px;
}

.phone-number,
.store-address {
    margin-bottom: 8px;

    color: #657D67;
    font-weight: 600;
}

.phone-number::before {
    background-image: url('assets/img/ico/phone-call.svg');
}


.store-address::before {    
    background-image: url('assets/img/ico/location-ico-2.svg');
}

.phone-block .label {
    margin: 0;
    margin-left: 38px;
    font-family: 'Inter';
    font-style: normal;    
    font-size: 13px;    
}

.go-to-route {
    display: block;
    margin-left: 38px;

    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    color:#2B2D2F;
}

.phone-block .social-icon {
    background-size: 56px;
}

.phone-block .social-link {
    width: 56px;
    min-height: 56px;
}

@media screen and (max-width: 768px) {

    .contacts-footer {
        
        flex-wrap: wrap;        
        gap: 48px;
    }

    .feedback-block .title-h3 {
        font-size: 18px;
    }

    .feedback-block .feedback-single-text {
        margin-bottom: 36px;
        
        font-size: 14px;
    }

    .phone-block .title-h3 {
        margin-bottom: 22px; 
        
        font-size: 18px;
    }

    .phone-block .data {
        gap: 12px;
        margin-bottom: 44px;
    }

    .phone {
        width: 292px;
    }
}

/* ************ Контакты Финиш **************  */

/* ************ Товар Старт **************  */
.product-main {
    display: flex;
    gap: 24px;
}

.product-gallery {
    width: 100%;
}

.right-column {
    width: 100%;
    padding: 40px 24px;
}

.title-product {
    margin: 0;
    margin-bottom: 8px;

    font-family: 'Lora';
    font-size: 28px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: -2%;
}

.gallery__picture-full {
  margin-bottom: 0;
}

.gallery__picture-full img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);

}

.gallery__picture-previews {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: -1;
}

.gallery__picture-preview {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  outline: none;
  top: 0;
  filter: grayscale(1);
  opacity: 0.7;
  transition: top 0.2s, box-shadow 0.2s, filter 0.2s, opacity 0.2s;
  box-shadow: 0 0 5px rgba(0, 1, 1, 0.2);
}

.gallery__picture-preview:hover {
  outline: 3px solid #cccccc;
  outline-offset: -3px;
}

.gallery__picture-preview:focus {
  top: -5px;
  box-shadow: 0 3px 10px 2px rgba(0, 1, 1, 0.2);
  filter: none;
  opacity: 1;
}

.gallery__picture-preview img {
  display: block;
  object-fit: cover;  
}

.product-article {
    margin-bottom: 40px;
    padding: 0;

    font-family: 'Inter';
    font-size: 13px;
}

.price-in-card {
    font-size: 28px;
    color:#181818;
}

.product-feedback {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;

    width: 100%;
    padding: 24px;

    background-color: #f8f8f8;
}

.btn-feedback {
    grid-column: 1/2;
    grid-row: 1/2;

    max-width: 607px;
    padding: 18px;

    border: none;
}

.product-feedback .social-list {
    grid-column: 2/3;
    grid-row: 1/2;

    gap: 24px;
}

.product-feedback .social-link {
    width: 56px;
    min-height: 56px;
}

.product-feedback .social-icon {
    background-size: 56px;
}

.manager {
    grid-column: 1/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 8px;    
}

.manager-photo {
    grid-column: 1/2;
    grid-row: 1/4;    
}
.manager-status {
    grid-column: 2/3;
    grid-row: 1/2;

    margin: 0;
    padding: 0;

    font-family: 'Inter';
    font-size: 12px;
}

.manager-status span {
    color: #2AA63C;
}

.manager-name {
    grid-column: 2/3;
    grid-row: 2/3;

    margin: 0;
    padding: 0;

    font-weight: 600;
    line-height: 120%;
}

.manager-text {
    grid-column: 2/3;
    grid-row: 3/4;

    margin: 0;
    padding: 0;

    font-family: 'OpenSans';
    font-size: 13px;
    color: #596574;
}

.product-description {
    margin: 0;
    margin-bottom: 16px;

    font-family: 'Inter';
    font-size: 13px;
}

.description-more {
    display: block;
    margin: 0 0 40px 24px;

    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #80B09C;

    text-decoration: none;
}

.accordeon__item {
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #E5E5E7;
}

.accordeon__title {
    
    width: 100%;
    margin: 0;
    padding: 28px 24px;
    border: none;
    
    text-align: start;
    font-size: 20px;
    font-family: inherit;
    color: #C4A179;
    background-color: transparent;
    cursor: pointer;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordeon__title span {
    display: block;
    width: 14px;
    height: 2px;    
    background-color: #C4A179;    
}

.accordeon__title span::before {
    content: '';

    display: block;
    width: 14px;
    height: 2px;
    
    background-color: #C4A179;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}

.accordeon__title[aria-expanded="true"] span::before {
    transform: rotate(0deg);
}

.accordeon__content {
    padding: 5px 24px 0;     
    max-height: 0;

    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;    
}

.property-list {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style-type: none;
}

.property-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-family: 'OpenSans';
    font-size: 13px;
    color: #68727D;
}

.property-item::before {
    content: '';
    
    flex-grow: 1;
    order: 2;
    margin: 0 2px;

    border-bottom: 1px dashed #68727D;
}

.property-item span:last-child {
    order: 3;
}

.colors {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;    

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    list-style-type: none;
}

.colors-item {
    width: 120px;
    height: 120px;
}

.colors-item:first-child .control-color {
    background-color: #ffffff;
}

.colors-item:nth-child(2) .control-color {
    background-color: #181818;
}

.colors-item:nth-child(3) {
    background-color: #EEA23E;
;
}

.colors-item:nth-child(4) {
    background-color: #525D6A;
}

.colors-item:nth-child(5) {
    background-color: #0A77FF;
}

.colors-item:nth-child(6) {
    background-color: #2B2D2F;
}

.colors-item:nth-child(7) {
    background-color: #FFFAF2;
}

.colors-item:last-child {
    background-color: #22762C;
}

.control-color {
    display: block;
    width: 100%;
    height: 100%;
}

.control-color:has(.control-input[type="radio"]:checked)  {
    border: 2px solid #657D67;    
    box-shadow: 0px 2px 6px 5px rgba(128, 176, 156, 0.4);
}

.size-list {
    max-width: 600px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;     

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    list-style-type: none;
}

.control-size {
    display: block;
    padding: 6px 12px;
    font-family: 'Inter';
    font-size: 14px;    
    background-color: #F8F9FB;
}

.control-size:has(> .control-input[type="radio"]:checked) {
  color: #ffffff;
  background-color: #80B09C;
}

.option-title {
    margin: 0;
    margin-bottom: 14px;

    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.selected-color {
    font-family: 'Inter';    
}

.amount-color-note {
    position: relative;

    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    padding-left: 32px;

    font-family: 'OpenSans';
    font-size: 14px;
}

.amount-color-note::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 

    display: block;
    width: 24px;
    height: 24px;

    background-image: url('assets/img/product-img/information.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.amount-color-note a {
    font-family: inherit;

    color: #80B09C;
    text-decoration: underline;
}

.product-footer,
.article-footer {    
    margin-left: 288px;

    padding-bottom: 64px;
    padding-left: 24px;
}

.product-similar-list,
.photo-clients-list {
    padding: 1px;    
    margin: 0;

    display: flex;    
    gap: 16px;
    overflow-x: hidden;

    list-style-type: none;
}

.photo-clients-list {
    margin-bottom: 64px;
}

.photo-clients-item {    
    
    max-width: 304px;   
    min-width: 174px; 
    height: min-content;

    overflow: hidden;    
}

.photo-clients-link {
    display: block;
    line-height: 0;
}

.similar-item {
    min-width: 219px;
}

.product-item-link {
    text-decoration: none;
    color: inherit;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 1000;

	padding: 30px;
	background-color: #80808070;
	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
	opacity: 0;

	transform: scale(1.15);
	transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal--open {
	pointer-events: auto;
	opacity: 1;    
    
	transform: scale(1);
	transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-wrapper {
    position: relative;    

	padding: 24px;	
	max-width: 375px;
	width: 80%;
    
	background-color: #ffffff;	
}

.btn--close-modal {
    position: absolute;
    top: 0;
    right: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.modal-title {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 28px;
    line-height: 120%;    
}

.modal-text {
    margin: 0;
    margin-bottom: 64px;

    font-family: 'Inter';
    font-size: 18px;
}

.modal .control {
    display: block;
    margin-bottom: 8px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
}

.modal .field-phone {
    width: 100%;
    min-height: 54px;
    padding: 16px;
    margin-bottom: 8px;

    border: 1px solid rgba(229, 229, 231, 1);
    background-color: #F8F9FB;    
    font-size: 14px;
}

.modal .field-phone::placeholder {
    color: #2B2D2F;
}

.modal .field-phone:focus-visible {
    outline: rgb(165, 165, 165) solid 1px;
}

.modal .agree-text {
    padding-top: 16px;
    color: #252525;
}

.modal .btn-submit {
    max-width: 360px;
    width: 100%;
}



@media screen and (max-width: 1440px) {
    .product-feedback {
        grid-template-columns: 1fr;
    }

    .btn-feedback {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .product-feedback .social-list {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .manager {
        grid-column: 1/2;
        grid-row: 3/4; 
    }    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .colors-item {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 1280px) {
    .product-main {
        flex-direction: column;
    }

    .product-feedback {
        grid-template-columns: 1fr auto;
    }

    .btn-feedback {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .product-feedback .social-list {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .manager {
        grid-column: 1/3;
        grid-row: 2/3; 
    }
}



@media screen and (max-width: 991px) {
    .product-main {
        flex-direction: column;
        align-items: center;
    }

    .product-gallery {
        max-width: 780px;
    }

    .product-footer,
    .article-footer  {
        margin-left: 56px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 576px) {
    .colors-item {
        width: 80px;
        height: 80px;
    }

    .product-feedback {
        grid-template-columns: 1fr;
    }

    .btn-feedback {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .product-feedback .social-list {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .manager {
        grid-column: 1/2;
        grid-row: 3/4; 
    }

    .product-feedback .social-link {
        width: 48px;
        min-height: 48px;
    }

    .product-feedback .social-icon {
        background-size: 48px;
    }
}


/* ************ Товар Финиш **************  */

/************** Блог Старт ************/

.articles {
    padding: 64px 0;
}

.title-h2.blog {    
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 36px;
}

.title-h2.blog + .note {
    margin: 0;
    margin-bottom: 64px;

    font-family: 'Inter';
    font-size: 18px;
    color: #4A5565;    
}

.article-item {    
    display: flex;
    flex-direction: column;
    
    border-radius: 4px;
    overflow: hidden;
}

.article-info {
    display: flex;
    flex-direction: column;
}

.article-indicators {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 10px;
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Inter';
    font-size: 13px;
    color: #596574;
}

.article-indicators span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.article-indicators span::before {
    content: '';
    
    width: 16px;
    height: 16px;

    background-repeat: no-repeat;
}

.article-date::before {
    background-image: url('assets/img/blog/calendar.svg');    
}

.article-views:before {
    background-image: url('assets/img/blog/eye.svg');    
}

.time-to-read::before {
    background-image: url('assets/img/blog/time_duration.svg');    
}

.article-item:hover {
    outline: 1px solid #657D67;
}

.article-item .product-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.article-item .short-description {
    margin-top: 0;

    font-family: 'Inter';
    font-size: 12px;
    line-height: 150%;
    color: #2B2D2F;
}

.article-item .article-info {
    padding: 16px;
}

.article-item .read-more {
    display: block;
    width: max-content;

    font-family: 'Inter';
    font-size: 14px;
    color: #657D67;

    text-decoration: none;
}

.article-item .read-more::after {
    content: '';
    display: block;
    height: 2px;

    background-color: #657D67;
}

@media screen and (max-width: 1280px) {
    .article-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 991px) {
    .title-h2.blog {
        font-size: 28px;
    }

    .title-h2.blog + .note {
        font-size: 16px;
    }

    .article-item .product-name {        
        font-size: 16px;        
    }

    .article-item .short-description {   
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {
    .article-list {
        grid-template-columns: 100%;
    }
}

/************** Блог Финиш ************/


/************ Статья Старт ***********/

.article-table-content {
    width: 366px;

    position: relative;
}

.article-table-content .sidebar-wrap {
    position: absolute;
    left: 0;
    top: 0;

    z-index: 100;
    
}

.current-article {
    display: grid;
    grid-template-columns: minmax(280px, 900px) 1fr;
    gap: 24px;

    padding: 64px 0;
}

.article-body a {
    color: #657D67;
}

.article-author {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 8px; 
    /* align-content: center; */
    
    padding: 24px;
    margin-bottom: 24px;
    border: 1px solid #E5E5E7;
}

.author-photo {
    grid-column: 1/2;
    grid-row: 1/3; 
    
    margin-bottom: 24px;
}

.author-name {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;

    margin: 0;

    font-weight: 500;
    font-size: 20px;
}

.author-text {
    grid-column: 2/3;
    grid-row: 2/3;
        
    margin: 0;    
    padding: 0;

    font-family: 'Inter';
    font-size: 14px;
}

.article-author .article-indicators {
    grid-column: 1/4;
    grid-row: 3/4;
}

.main-headlines {
    padding: 24px;
    border: 1px solid #E5E5E7;
}

.main-headlines p {
    margin: 0;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 20px;
    color: #657D67;
}

.main-headlines .title-list {
    margin: 0;
    padding: 0;
}

.main-headlines .title-item {    
    font-family: 'Inter';
    font-size: 14px;
}

.main-headlines .title-current {
    color: #657D67;
}

.article-body .table-wrap {
    overflow: auto;
}

.article-body table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 36px;
}

.article-body table td {
    padding: 24px;
}

.article-body tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.article-body thead,
.article-body tbody tr:nth-child(even) {
    background-color: #F8F9FB;
}

.article-body thead {
    text-align: center;

    font-family: 'Inter';
    font-weight: 500;
}

.single-img {
    margin: 15px 0 50px;
    text-align: center;
}

.article-body .mark {
    position: relative;
    margin-bottom: 36px;
    padding: 24px;
    padding-left: 112px;

    background-color: #F8F9FB;
}

.article-body .mark::before {
    content: '';

    position: absolute;
    top: 24px;
    left: 24px;

    display: block;
    width: 64px;
    height: 64px;
    background-image: url('assets/img/blog/check-circle-broken.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.article-body h2 {
    margin-top: 36px;
}

.article-body .bold {
    margin: 0;
    margin-bottom: 24px;

    font-weight: 700;    
}

.callback-block {
    min-height: 500px;
    margin-bottom: 64px;

    background-image: url('assets/img/blog/bg-free-measurement.webp');
    background-repeat: no-repeat;
    background-position: center;
}

.article-footer .article-list {
    padding: 1px;

    display: flex;
    overflow: hidden;
    gap: 16px;
}

.article-footer .article-item {
    min-width: 343px;
    max-width: 366px;
}

.article-footer .product-similar-list {
    margin-bottom: 64px;
}

.callback-block {
    padding: 24px;     
}

.callback-block-title {
    margin: 50px 0 24px;
    padding: 0 16px;

    font-size: 52px;
    line-height: 120%;
    font-weight: 600;
    color: #f9f9f9;
    text-align: center;
}

.callback-block-title span {
    color: #80B09C;
}

.buns {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    color: #DDC4A4;
}

.free-measurement {
    display: grid;
    grid-template-columns: 322px 238px;
    grid-template-areas: 
        'label label'
        'input  button'
        'alert .'
        'agree agree';
    column-gap: 24px;

    max-width: 632px;
    margin: 0 auto 24px;
    padding: 24px;
    border-radius: 4px;
    
    background-color: rgba(24, 24, 24, 0.47);
}

.free-measurement .control {
    grid-area: label;

    margin-bottom: 8px;

    font-family: 'Inter';
    font-size: 14px;
    color: #F9F9F9;
}

.free-measurement .field-phone {
    grid-area: input;

    width: 100%;
    min-height: 56px;
    padding: 16px;
    
    border: 1px solid rgba(229, 229, 231, 1);
    background-color: #FCFCFD;
    font-size: 14px;
}

.free-measurement .field-error {    
    border: 1px solid #F40D29;
}

.free-measurement .field-phone:focus-visible {
    outline: rgb(165, 165, 165) solid 1px;
}

.free-measurement .error-message {
    grid-area: alert;

    position: relative;

    display: flex;
    height: 26px;
    margin: 12px 0 24px;
    padding: 1px 24px;
    border-radius: 4px;

    font-size: 12px;    
    color: #E33B32;
    background-color: #FEF1F2;    
}

.free-measurement .error-message::before {
    content: '';

    position: absolute;
    top: 5px;
    left: 4px;

    display: block;
    width: 16px;
    height: 16px;

    background-image: url('assets/img/blog/alert-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.free-measurement .agree-wrap {
    grid-area: agree;

    margin-bottom: 0;

    color: #F9F9F9;
}

.free-measurement .agree-wrap a {
    text-decoration: none;
    color: #80B09C;
}

.free-measurement .btn-measurement {
    grid-area: button;
        
    border: none;
    padding: 18px 24px;
}


.callback-block .advantages {
    max-width: 700px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.callback-block .advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.callback-block dt {

    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #DDC4A4;

    text-align: center;
}

.callback-block dd {
    margin: 0;

    font-family: 'Inter';
    color: #F9F9F9;

    text-align: center;
}

.callback-block .small {    
    font-size: 24px;
}

.article-table-content-inner {
    display: none;    
}

@media screen and (max-width: 1280px) {
    .current-article {
        padding: 20px 0;
    }

    .article-table-content {
        display: none;
    }

    .article-table-content-inner {        
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        justify-content: space-between;
    }

    .article-author,
    .main-headlines {
        width: 330px;
        flex-grow: 1;
    }
}



@media screen and (max-width: 768px) {

    .callback-block {
        background-color: #0A77FF;

        min-height: 512px;
        margin-bottom: 36px;

        background-size: cover;
    }

    .free-measurement {        
        grid-template-columns: 100%;
        grid-template-areas: 
        'label'
        'input'
        'alert'
        'agree'
        'button'; 

        max-width: 480px;
    }
    

    .callback-block-title {
        margin: 24px 0 16px;
        padding: 0 16px;

        font-size: 32px;
    }

    .buns {
        margin-bottom: 16px;
        gap: 24px;
    }

    .free-measurement .btn-measurement {
        margin: 0 auto;

        max-width: 200px;
    }

    .free-measurement .agree-wrap {
        margin-bottom: 18px;
    }

    .free-measurement .agree-text {
        line-height: 1.05;
    }

    .free-measurement .agree-input {
        align-self: start;
    }

    .callback-block dt {
        font-size: 28px;
    }

    .callback-block dd {
        gap: 16px;

        font-size: 13px;        
    }
}

@media screen and (max-width: 576px) {
    .callback-block {
        padding: 16px;
    }

    .buns {        
        row-gap: 12px;
        column-gap: 14px;
    }

    .callback-block .advantages {        
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 480px) {
    .callback-block {
        padding: 10px;
    }

    .buns {
        flex-direction: column;
        align-items: center;

        line-height: 100%;
    }

    .callback-block .advantages {
        flex-direction: column;
        gap: 16px;
    }

    .callback-block .advantages-item {
        gap: 0;
    }
}

/************ Статья Финиш ***********/



@media screen and (max-width: 1200px) {

    .category-item .title {
        font-size: 22px;
    }

    .category-item:hover .title {
        transform: translateY(-54px);   
    }

    .btn {
        font-size: 13px;
    }

    .btn-category {
        width: 192px;
        padding: 6px 16px;        
    }

    .product-list {
        grid-template-columns: repeat(3, minmax(210px, 1fr));
        gap: 12px;
    }

}


@media screen and (max-width: 991px) {

    .title-h1 {
        margin-bottom: 40px;
        /* max-width: 280px; */
        font-size: 32px;
    }

    .interior {
        display: none;
    }

    .navigation-link {
        padding: 8px;
    }

    
    .content {    
        margin-left: 56px;
        padding: 16px;
        padding-top: 16px; 
    }

    .sidebar {
        z-index: 200;
        transform: translateX(-288px);
        transition: transform 0.4s ease-out;
    }

    .btn-menu-close   {
        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 40px;
        height: 40px;
        border: none;

        background-color: transparent;
    }

    

    .sidebar-mobile {
        position: fixed;
        z-index: 100;
        width: 56px;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        opacity: 1;
        background-color: #181818;
        transition: width 0.45s ease-out;
    }

    .category-item .title {
        bottom: 72px;
    }

    .category-item:hover .title {
        transform: none;   
    }

    .btn {
        font-size: 13px;
    }

    .btn-category {
        width: 182px;
        padding: 6px 8px 6px 12px;       
        opacity: 1;
    }

    .product-list {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 8px;
    }

    .list-management-wrapp .number-products-found {
        font-size: 16px;
    }

    .modal-filter {
        left: 56px;
    }

}

@media screen and (max-width: 912px) {
    .product-list {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); 
    }
}

@media screen and (max-width: 730px) {

    .title-h1 {
        /* max-width: 260px; */
        margin-bottom: 20px;

        font-size: 30px;        
    }

    .top-text {        
        font-size: 14px;
    }

    .content {
        padding: 8px;
        padding-top: 8px; 
    }

    .category-list {
        grid-template-columns: 100%;
        grid-template-rows: repeat(11, 240px);        
    }

    .category-item, .category-item-big {
        grid-column: 1/-1;
    }

    .category-item img {
        height: 240px;
    }

    .category-item .title {
        font-size: 28px;
    }

    .modal-filter {
        width: 400px;
    }

    .list-management-wrapp {
        grid-template-columns: 50% auto;
        column-gap: 20px;
    }

    .btn-filter {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .btn-reset {
        width: 100%;
    }

    .list-management-wrapp .number-products-found {
        justify-self: center;
        grid-column: 1/3;
        grid-row: 2/3;

        font-size: 14px;
    }

    .control-select {
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .product-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));        
    }

    /* .btn-filter {
        padding-left: 40%;
    }

    .btn-filter::before {
        left: 30%;
    } */

    .legend-wrap {
        max-width: 260px;
    }
    .filter-button-wrap {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .content {
        padding: 16px;
        padding-top: 16px; 
    }
}

@media screen and (max-width: 480px) {

    .modal-filter {
        width: 304px;
    }

    .range {
        --track-width: 268px;
    }

    .list-management-wrapp {
        column-gap: 8px;
        row-gap: 10px;
    }

    .product-list {
        justify-items: center;
        grid-template-columns: 1fr;        
    }

    .list-management-wrapp .number-products-found {        
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .control-select {        
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .btn-filter {
        padding-left: 50px;
    }

    .btn-filter::before {
        left: 24px;
    }
}